/* BALANCE Stylesheet */

@import url('css/reset.css');
@import url('css/960.css');
@import url('css/text.css');
@import url('css/layout.css');
@import url('css/nav.css');
@import url('css/focusgroups.css');

@import url('famfamfam-silk-sprite.css');

.rsvp_form{
	border: 1px solid black;
}
div.admin-inline {
display: none !important;
}

#container {
clear: both;
padding-top: 0px;
margin-top: 16px;
}

#sidebar-left {
display: block;
min-height: 800px;
}
.menu-edit {
	display:none !important;
}
/*************************/
/***** BALANCE BAR  ******/
/*************************/

#balance-bar {
height: 26px;
margin-bottom: 32px;
background: #666;
}

#balance-bar .notice {
font-weight: bold;
margin-left: 0.4em;
}

#balance-bar-inner {
position: relative;
margin: 0 auto;
width: 960px;
z-index: 25;
}

/*********************/
/***** Search  ******/
/********************/
#block-search-0 {
float: right;
width: 181px !important;
height: 35px;
background: url('img/css_sprites_balance.png') no-repeat -780px 0 !important;
margin-left: 0 !important;
position: relative;
top: -35px;
}

#search-block-form input {
border: 1px solid #999;
width: 120px;
margin: 10px 0 0 20px;
}

#search-block-form .form-submit {
display: none;
}

#block-block-7 img {
position: absolute;
top: 116px;
left: 75px;
}

#block-block-10 {
position: relative;
top: 32px;
}

#block-block-10 ul, #block-block-10 li {
	margin-left:0;
	padding-left:0;
}

#block-block-11 {
float: left;
height: 26px;
margin: 5px 0 0 76px;
color: #bbb;
}

#block-user-0 {
position: absolute;
top: 330px;
}

#block-projecttabs-0 {
float: left;
width: 220px;
margin-top: 0 !important;
}


#block-projecttabs-1 {
margin-top: 0 !important;
}

#block-projecttabs-1 .login_text img {
float: left;
margin-right: 10px;
}

#block-focus_groups-0 {
border:1px solid #DDDDDD;
min-height:80px;
padding: 0.5em 0.5em 1em;
margin-top: 0 !important;
}

#block-focus_groups-0 .group-list-item {
clear: both;
padding: 0 0 1em 0;
}

#sidebar-left .group-list-item  a {
float: left;
}

#sidebar-left .group-list-item  ul {
float: left;
list-style-type: none;
}

#sidebar-left .group-list-item  ul  li {
margin-left: 1em;
}


#block-focus_groups-0  h2 {
background-color: transparent;
color: #bbb;
border-bottom: 1px solid #ccc;
}

#block-focus_groups-0 img {
float: left;
}

#block-focus_groups-0 ul  {
margin: 0;
padding: 0;
}

#block-focus_groups-0 ul li {
list-style-type: none;
margin-left: 5em;
}

#block-projecttabs-2 ul,
#block-projecttabs-2 ul  li {
list-style-type: none !important;
padding-left: 0;
margin-left: 0;
margin-right:0.4em;
float: left;
}

#main-squeeze p.long {
font-size: 13px;
color: darkblue;
width: 300px;
position: relative;
top: -35px;
}

#parent-fg {
background-color: #ccc;
padding: 0.5em 0.8em;
}

#parent-fg img {
float: left;
display: block;
margin-right: 0.8em;
}

#parent-fg a {
display: block;
}

/****************************/
/***** Imagecache      ******/
/****************************/

img.imagecache-projectlogo_1-2c {
border: 1px solid #ccc !important;
}

/****************************/
/***** Breadcrumb      ******/
/****************************/
#breadcrumb {
color: #999 !important;
margin-top: 3px;
padding-left: 0;
}
#breadcrumb a {
color: #999 !important;
}

/****************************/
/***** Tabs-Drupal Admin ****/
/****************************/

div.tabs {
display: block;
position: relative;
top: -6px;
}

ul.tabs.primary {
border-bottom: 0 none !important;
margin-top: 0;
}
.node-type-project ul.tabs.primary {
width: 633px;
}

ul.tabs.primary li {
float: left;
position: relative;
}
ul.tabs.primary li {
padding: 0;
height: 20px;
display: inline;
border-left: 2px solid white;
margin: 0;
}
ul.tabs.primary li a {
color: white;
display: block;
background: transparent;
background: #ccc;
border: 0;
padding: 5px 9px 0 9px;
font-size: 14px;
font-weight: bold;
height: 20px;
width: inherit;
}
ul.tabs.primary li.active a {
background: #fff;
border: 1px solid #243D80 !important;
border-width: 1px 1px 0 1px !important;
padding: 5px 9px 1px 9px;
}

ul.tabs.primary li a:hover {
background: #243D80 !important;
}

ul.tabs.primary li.active a {
border: 0;
color: #243D80;
}

ul.tabs.primary li.active a:hover {
color: #243D80 !important;
background: #fff !important;
}

ul.tabs.secondary {
position: relative;
clear: both;
}

ul.tabs.scondary li {
float: left;
position: relative;
}

ul.tabs.secondary li a.active {
font-weight: bold !important;
border-bottom: 0 !important;
}

ul.tabs.secondary li a:hover {
background: #666 !important;
}

body.front ul.tabs.primary,
body.front ul.tabs.secondary {
border: 0;
}

/**** Vertical Tabs ****/

.vertical-tabs {
position: relative;
left: -180px;
border-color: #243D80;
width: 550px;
border: 0 !important;
}

.vertical-tabs .vertical-tabs-list {
border-color: #243D80;
border: 0;
}

.vertical-tabs  ul.vertical-tabs-list {
border: 0;
border-top: 0 !important;
}
.vertical-tabs .vertical-tabs-list li {
margin-bottom: 1px !important;
border: 0 !important;
border-right: 1px solid #243D80 !important;
}

.vertical-tabs .vertical-tabs-list li:hover {
background: #ccc;
}
.vertical-tabs .vertical-tabs-list li.selected {
border-color: #243D80 #FFFFFF #243D80 #243D80 !important;
border-style: solid !important;
border-width: 1px 0 1px 1px !important;
}

.vertical-tabs .vertical-tabs-list li.selected:hover {
background: white;
}

.vertical-tabs .vertical-tabs-panes {
width: 550px;
}

/*****************************/
/*   Projekte               */
/***************************/
.node-type-project ul.tabs.primary {
margin-top: 0;
}

.node-type-project div.logo-title {
/*height: 197px;*/
}

.project-title {
height: 115px;
overflow: hidden;
color: #666;
padding: 10px 60px 10px 10px;
border-top: 1px solid #666;
/** Box Model Hack **/
}

div.project-title span.long {
font-size: 12px;
font-weight: normal !important;
color: #666;
}
/*****************************/
/* Page Title */
/****************************/

#page-title {
height: 114px;
color: #243D80;
}

#page-title h1 {
word-wrap: break-word;
}

/*****************************/
/*   Content                */
/***************************/
#content {
clear: both;
padding: 15px;
border: 1px solid #243D80;
}

#content a:hover {
color: #e62;
}

body.front #content {
padding-left: 0;
padding-top: 0;
border: 0;
}
.profile h3 {
border-bottom: 1px solid #243D80;
}

/****************************/
/***** Status Messages   ****/
/****************************/
.messages, .preview {
padding: 0.1em 0.5em;
}
.messages.status {
border: 1px solid green;
color: green;
}

.messages.error {
border: 1px solid red;
color: red;
}

.preview {
border: 1px solid orange;
color: orange;
}

/****************************/
/***** Formular generell ****/
/****************************/

label.over-apply { color: #ccc; position: absolute; top: 3px; left: 4px;}
#edit-search-block-form-1-wrapper label.over-apply { top: 0px; left: 25px; }
.form-item { position: relative;}

/***** LOGIN FORMS *****/

#block-user-0 h2 {
font-size: 11px;
color: #666;
}

#user-login-form, #user-login-form input {
text-align: left;
width: 120px;
}

#user-login-form .form-submit {
width: inherit;
}

#user-login-form label {
font-weight: normal !important;
}

#user-login-form ul {
margin: 0;
padding: 0;
}

#user-login-form ul li {
list-style: none !important;
margin: 0;
padding: 0;
}

#user-login-form ul li a {
color: #666;
}

input, select {
font-size: 11px !important;
color: #333;
border: 1px solid #666;
}

fieldset.collapsible {
border: 1px solid #999;
/*padding: 0.8em 1.3em;*/
}

#user-profile-form legend {
display: block;
padding: 3px 15px 3px 5px;
background: #999;
font-weight: bold;
}

/****************************/
/***** highlight 3-4-3 ******/
/****************************/

.highlight {
background: #ddd;
border: 1px dashed #bbb;
height: 60px;
padding: 1em 0;
-moz-border-radius: 5px;
}

.highlight h3 {
font-size: 12px;
color: #fff;
font-weight: bold;
margin-left: 1em;
}

/*************************/
/*****   Blocks	    ******/
/*************************/

/*
.block-views {
border-bottom: 1px solid #243D80;
border-top: 1px solid #243D80;
}
*/

#sidebar-left h2, #sidebar-left h3 {
font-size: 11px;
color: #666;
border-bottom: 1px solid #ccc;
padding-bottom: 2px;
}

#sidebar-left ul.user_relationships_actions {
padding: 0;
margin: 0;
}

#sidebar-left ul.user_relationships_actions  li{
list-style-type: none;
border-bottom: 1px solid #ccc;
padding-bottom: 2px;
margin-left: 0;
}

.node-type-focusgroup #project-sidebar {
margin-top: 118px;
}

#sidebar-right .block {
color: #243D80;
clear: both;
}

#sidebar-right a {
color: #243D80;
}

#sidebar-right h2,
.block .view-header {
background: #243D80;
color: #fff;
font-size: 11px;
padding: 3px 5px 5px 5px;
margin: 0 0 8px 0;
font-weight: bold;
}

#sidebar-right h2 a {
color: #fff;
}

#sidebar-right li {
padding-left: 0;
margin-left: 15px;
list-style-type: square;
}

#block-views-og_members_block-block_2 td, #block-views-og_members_block-block_2 th {
	padding: 0 !important
}

#authors.block {
margin-top: 142px;
}

#authors.block ul {
padding: 0 !important;
}

#block-projecttabs-1, #block-projecttabs-0 {
	background: #ddd;
	padding: 4px 5px;
}

#announcement .block {
background:url("img/nuernberg.jpg") no-repeat scroll 0 0 #EEEEEE;
border:1px solid #CCCCCC;
height:113px;
margin-bottom:2em;
padding:0 1em 1em 13em;

}

#announcement .block a {
width: 120px;
height: 30px;
overflow: hidden;
text-indent: -1000px;
background: url("img/button_weiter.png") no-repeat scroll 0 0 transparent;
display: block;
}

#announcement .block a:hover{
background: url("img/button_weiter_hover.png") no-repeat scroll 0 0 transparent;
}

#announcement .block a:focus{
background: url("img/button_weiter_down.png") no-repeat scroll 0 0 transparent;
}

/**********************************************/
/******** Frontpage **************************/
/********************************************/

#teaser_1, #teaser_2, #teaser_3 {
border: 1px solid #f29820;
margin-top: 6px;
margin-bottom: 15px;
width: 244px;
height: 159px;
}

#teaser_2 {
padding: 1em 1em 0 1em;
height: 148px !important;
}

#teaser_1 h2, #teaser_2 h2 , #teaser_3 h2 {
background: #f29820;
color: white;
font-size: 13px;
height: 21px;
margin-top: 0;
padding: 0.2em 0em 0 1em;
}
#teaser_1 p, #teaser_2 p, #teaser_3 p {
padding: 1em;
}

#teaser_2 {
background: #f29820;
color: #fff;
}
#teaser_2 a {
color: #fff !important;
}

.block-tagadelic {
overflow: hidden !important;
line-height: 16px;
}

#teaser_1, #teaser_2, #teaser_3,
#teaser_1 a, #teaser_2 a, #teaser_3 a {
color: #243D80;
}

.node-private .visibility {
background: url('img/private_item.png') no-repeat top left;
float: left;
height: 30px;
width: 30px;
}

.node-private .node-title {
padding-left: 1.5em;
}

.node .content {
	padding-bottom: 16px;
}

.node .links {
color: #ccc;
border-top: 1px solid #ccc;
clear: both;
}

.node .links a {
color: #666;
}

.node .submitted {
font-size: 11px;
color: #666;
}

.node .links li {
font-size: 11px;
float: right;
}

#balance-node-edit, #balance-user-edit {
float: right; 
background-color: #eee; 
position: relative; 
top: -1.2em; 
right: -1.4em; 
padding: 0.2em 0.6em 0.2em 0.4em;
}

#balance-node-edit a, #balance-user-edit a {
margin-left:2px;
vertical-align:super;
}

body.front .node .title,
body.front .story .taxonomy {
display: none;
}

body.front .node {
font-size: 1.2em;
margin-bottom: 30px;
}

body.front .node .author a {
font-weight: bold;
color: #243D80;
}

body.front .node  .content p {
border-bottom: 0;
margin-bottom: 0;
padding-bottom: 0;
display: inline;
}

body.front .node h2 {
	margin-top: 0;
}

body.front #main {
width: 541px;
}

body.front #sidebar-right h2 {
	font-size: 11px;
	border: 1px solid #ddd;
}

body.front .node.event-nodeapi {
 color: #999;
}

#block-views-og_members_block-block_2 {
clear: both;
}

/*************************/
/***** Profile	    ******/
/*************************/
#sidebar-left .group-list-item  a {
float: left;
width: 32px;
height: 32px;
}

#sidebar-left .group-list-item  ul {
float: left;
list-style-type: none;
}

#sidebar-left .group-list-item  ul  li  {
margin-left: 1em;
}

#sidebar-left .group-list-item  ul  li  a {
width: inherit;
height: inherit;
}

/* User List */
#profile .profile {
height: 65px;
clear: none;
margin-bottom: 0;
word-wrap: break-word;
border-bottom: 1px solid #243D80;
margin-bottom: 1em;
}

#profile .profile div.field {
font-size: 15px;
font-weight: bold;
color: #243D80;
float: left;
margin-right: 5px;
position: relative;
top: -35px;
left: 120px;
}

div.name {
display: none;
}

dd li.field-item {
display: block;
margin: 0 20px 0 0;
float: left;
padding-bottom: 1em;
}

ul.ur-mutual-friends{
  width: 100%;
  background-color:red;
  padding:0px;
}
ul.ur-mutual-friends li,
ul.ur-mutual-friends p{
  background-color:yellow;
   display: inline;
   width: 100px;
}
ul.ur-mutual-friends div{
  width: 100px;
  background-color:yellow;
}
/*************************/
/* FAQ  */
/************************/

.faq-question.faq-dt-hide-answer {
background: #243D80;
padding-bottom: 5px;
margin-top: 5px;
}

.faq-question.faq-dt-hide-answer a {
color: #fff !important
}

.faq-answer.faq-dd-hide-answer {
border: 1px solid #243D80;
border-top: 0;
padding: 5px 19px;
margin-bottom: 5px;
}

/*************************/
/***** News	    ******/
/*************************/

 .story span.date, .node span.date {
position: relative;
top: 5px;
}

/*************************/
/*****   Footer     ******/
/*************************/

#footer {
margin-top: 100px;
overflow: hidden;
}

#footer .block .content {
margin: 0 auto;
width: 960px;
}

#footer #block-menu-secondary-links {
width: 100%;
height: 20px;
background-color: #ffaa00 !important;
}

/**** Logoleiste ***/
#block-block-6 {
	background-color: #ccc;
}

.sponsoren {
	list-style: none;
	height: 80px;
	margin: 0;
	padding: 0;
}

.sponsoren li {
	float: left;
	height: 80px;
	margin: 0;
	padding: 0;
}

.sponsoren a {
	display: block;
	width: 80px;
	height: 60px;
	background: transparent url(img/logoleiste72dpi.png) 0 0 no-repeat;
	margin-right: 30px;
	text-indent: -999em;
}

.sponsoren #bmbf {
	background-position: -19px 0;
}
.sponsoren #esf {
	background-position: -145px 0;
}
.sponsoren #europa {
	width: 87px;
	background-position: -305px 0;
}
.sponsoren #dlr {
	width: 118px;
	background-position: -441px 0;
}
.sponsoren #balance {
	width: 146px;
	background-position: -628px 0;
}
.sponsoren #unierlangen {
	width: 115px;
	background-position: -820px 0;
}

#footer div {
	clear: both;
}

/** Sitemap **/
#block-footer_sitemap-0 {
background-color: #333;
height: 200px;
width: 100%;
}

#footer-sitemap  li {
border-right: 0 !important;
margin: 0 !important;
padding: 0 !important;
width: 100px;
}

#footer-sitemap  li.expanded ul {
margin: 0 !important;
padding: 0 !important;
}

#footer-sitemap  li.expanded li {
display: block; 
clear: both;
border-right: 0 !important;
margin: 0 !important;
padding: 0 !important;
}

#footer-sitemap  li.expanded li  a {
font-weight: normal;
}

#footer-sitemap li  a {
color: #fff !important;
font-weight: bold;
}


.views-table {
display: inline;
}

#block-nice_menus-2 ul {
z-index: 11;
}

.views-exposed-form .views-exposed-widget .form-submit {
margin-top: 0;
}

.view-slideshow .view-content {
padding: 10px 480px 10px 10px;
}

.field-field-smallteaser {
float: left;
padding: 0 10px 10px 0;
}

#authors p {
margin-bottom: 0px;
}

#authors .picture {
float: left;
margin: 0 10px 10px 0;
}

#authors a {
font-size: 16px;
font-weight: normal;
}

#comments {
margin-top: 25px;
padding: 5px;
background-color: #efefef;
}

.fg {
float: right;
padding: 0 0 5px 5px;
}

.vcard .hide {
display: none;
}

ul.no-bullets {
padding-left: 0!important;
}

ul.no-bullets li {
margin-left: 0!important;
padding-left: 0!important;
list-style-type: none!important;
clear: both;
}

/**** Calendar Block ***/

table.event-block td,
table.event-block th,
table.event-block tr,
table.event-block {
border: 0;
height: 27px;
vertical-align: middle;
text-align: center;
}
table.event-block td a,
table.event-block td a {
color: #fff !important;
text-decoration: underline;
}

table.event-block td.selected a,
table.event-block td.selected a {
color: #F29820 !important;
text-decoration: underline;
}

table.event-block th {
border: 1px solid #F29820;
background: transparent;
color: #F29820;
font-weight: bold;
}

table.event-block tr.even td ,
table.event-block tr.odd td {
background-color: #ccc;
border: 1px solid #fff;
color: #fff
}

table.event-block tr.odd td.today,
table.event-block tr.even td.today {
border: 1px solid #F29820;
background-color: #fff;
color: orange;
}
table.event-block tr.odd td.selected,
table.event-block tr.even td.selected {
background-color: #F29820;
color: #fff;
}

table.event-block td.pad {
background-color: #eee !important
}

.block-user_relationship_blocks {
     display: none;
}

.page-user .block-user_relationship_blocks {
     display: block;
}

.views-row .node-wiki .content {
	display: none;
}

table.views-view-grid td {
padding: 0;
}

/*** Wiki ***/

body.node-type-balancewiki div.links.wiki {
position:relative !important;
top:-150px;
}

body.node-type-balancewiki div.links.wiki .talk_add {
display: none;
}

body.node-type-balancewiki div.links.wiki a.flag-link-toggle {
font-size:13px;
font-weight:bold;
}



/*** Pressemeldungen ***/

td.views-field, tr.views-field, th.views-field {
vertical-align: top;
}
.field-field-coautors,
.service-label{
  display:none;
}
ul.links{
  border:none !important;
}
ul.links li{
  margin-left:5px;
  padding:0px;
  margin-top:20px;
}
li.addthis{
  display:none !important;
}
.addthis_button_div{
  float:right;
  margin-top:10px;
  margin-bottom:5px;
}
.view-frontpage-hack .view-filters{
  position:absolute;
  left:-160px;
  top:500px;
  width: 135px;
}
.view-frontpage-hack .view-filters input,
.view-frontpage-hack .view-filters select{
  width: 135px;
}
.view-frontpage-hack .view-filters .form-submit{
  display:none;
}

/* blau #243D80 */
/* orange #ee6622 */


/* Allgemein */
body { 
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}
#page { padding: 0; width: 100%; overflow: hidden; margin: 0 auto; border: none; background: #fff url(http://www.byte-box.com/projekte/balanceonline/bytebox/img/update/bg/symbol.jpg) right 80px no-repeat; }
.one-sidebar.sidebar-right #main-squeeze { }

.clear { clear:both; margin: 0; padding: 0; width: 0px; height: 0px; }

/* Fonts */
    
    /* Links */
    .node a, #sidebar-right .block a { color: #243D80 !important; }
    .node a:hover, #sidebar-right .block a:hover { color: #ee6622 !important; }
    
    /* Headlines */
    h1, h2, h3, h4, h5, h6 { margin-bottom: 0.6em; }
    h4,h5,h6 { margin-top: 1em; margin-bottom: 0.4em; }
    body #project-sidebar .block h2, body .block .view-header, body #project-sidebar .block h2 a { background: none !important; }
    #main-squeeze h1,#main-squeeze h2,#main-squeeze h3,#main-squeeze h4,#main-squeeze h5,#main-squeeze h6 { color: #404040 !important; }    
    h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.node h1 a ,.node h2 a, .node h3 a ,.node h4 a { color: #404040 !important; }
    h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover { color: #ee6622 !important; }
    
    /* Page Title */
    #page-title { height: auto !important; font-size: 18px; text-transform: uppercase; }


/* Abstände */
p { margin-bottom: 1em; }
dl, hr, pre, address, fieldset, ol, ul, table { margin-bottom: 2.5em; }

/* Fließtext */
body.front .node .content p { display: block; }

/* Header */
    #pageInner { background: url(http://www.byte-box.com/projekte/balanceonline/bytebox/img/update/bg/header.jpg) 0px 26px repeat-x;  }
    #header-region { width: 960px; height: 50px; margin-top: -13px; padding-left: 10px;  }
    #block-menu-menu-fgtop { width: 100px; margin: 0; }
    #block-user-1 { margin: 0; }
    #block-user-1 li a:hover, #block-user-1 li.active-trail a { background: none; text-decoration: underline; }
    #block-menu-menu-fgtop li a.balance { height: 26px !important; }
    
    
    
/* Fokusgruppen Logomenü */
#block-nice_menus-2 { position: absolute; width: 300px; margin: 0 0 0 750px; clear: both; }
#balance-bar .nice-menu { clear: both; }

/* Search */
#block-search-0 { float: left; display: block; margin: 32px 0 0 0;   }
#block-search-0, #search-block-form { background: url(http://www.byte-box.com/projekte/balanceonline/bytebox/img/update/bg/search.png) no-repeat; !important; width: 230px; height: 30px;  }
#block-search-0 label { display: none; }
#edit-search-block-form-1-wrapper { float: left; display: inline-block; margin: 0; padding: 0; width: 200px; }
#edit-search-block-form-1 { border: none !important; line-height: 22px !important; background: transparent !important; font-size: 16px !important; color: #404040; width: 185px; margin: 4px 0 0 5px !important; padding: 0; height: 22px !important; }
#block-search-0 #edit-submit { display: block !important; background: transparent !important; width: 30px !important; height: 30px !important; margin: 0 !important; padding: 0 !important; border: 0 !important; text-indent: 900px; overlow: hidden; }

/* Navigation */

    /* Alles einblenden */
    /*ul.nice-menu ul, #header-region ul.nice-menu ul { visibility: visible; }*/

    /* allgemein */
    #block-nice_menus-1 { width: 710px !important; float: left !important; }        
    
    /* Erste Ebene */
    ul#nice-menu-1 li { background: none !important; border: none; border-right: #fff 1px solid; line-height: 25px; }
    ul#nice-menu-1 li:last-child { border-right: none; }
    ul#nice-menu-1 li a { 
        background: none; text-indent: 0; color: #fff;
        font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal;
        height: auto; padding: 0 20px 0 0; margin: 0 0 0 20px;
        width: auto; text-transform: none;
    }
    ul#nice-menu-1 li a:hover { text-decoration: underline; }
    ul#nice-menu-1 li a.active { color: #333; }
    
    /* Zweite Ebene */
    ul#nice-menu-1 li ul { padding: 0 !important; margin: 5px 0 0 20px !important; border: none !important; }
    ul#nice-menu-1 li ul li { background: #eee !important; line-height: 18px; border: none; padding: 0 !important; margin: 0 !important; border: none !important; text-align: left; font-size: 13px !important; }
    ul#nice-menu-1 li ul li a { color: #404040 !important; padding: 5px 8px 5px 8px !important; margin: 0 !important; text-decoration: none !important; min-width: 140px; width: auto !important; }
    ul#nice-menu-1 li ul li a:hover { background: #404040 !important; color: #fff !important; }
    
    /* Dritte Ebene */
    ul#nice-menu-1 li ul li ul { position: absolute !important; width: auto !important; padding: 0 !important; margin: 5px 0 0 -30px !important; border: none !important; }
    ul#nice-menu-1 li ul li ul li { line-height: 18px; width: 280px !important; border: none; padding: 0 !important; margin: 0 !important; border: none !important; text-align: left; }
    ul#nice-menu-1 li ul li ul li a { display: block; padding: 5px 8px 5px 8px !important; margin: 0 !important; text-decoration: none !important; width: 100% !important; }
    ul#nice-menu-1 li ul li ul li a:hover { background: none !important; }
    ul#nice-menu-1 li ul li ul li:hover { background: #404040 !important; }
    
    /* Erster Hauptmenüpunkt */
    #menu-home { margin-left: 0px !important; }
    

/* Fokusgruppen Navigation */

    #balance-bar .nice-menu li ul { border-color: #404040; }
    #balance-bar .nice-menu li ul li { padding: 0 !important; }
    #balance-bar .nice-menu li ul li a { padding: 3px 1px !important; color: #404040; margin: 0 !important; height: auto !important;  }
    #balance-bar .nice-menu li ul li a:hover { text-decoration: none; margin: 0 !important; color: #000; }


/* Paginierung */

    .item-list .pager { margin: 35px 0 0 0 !important; padding: 15 0 !important; border-top: #404040 1px solid; text-align: left !important; }
    .item-list .pager li { display: inline-block !important; padding: 3px !important; margin: 0 !important; }
    .item-list .pager li a { color: #243D80; padding: 2px 4px !important; display: inline-block; }
    .item-list .pager li a:hover { color: #ee6622; }


/* Navigationen im linken Block */
    
    #sidebar-left li.leaf, #sidebar-left li.expanded { border-color: #404040; border-style: solid; padding: 6px 2px; }
    #sidebar-left li.leaf a, #sidebar-left li.expanded a { color: #404040; }
    #sidebar-left li.leaf.active, #sidebar-left li.expanded.active { background: #f6f6f6; }

/* Blöcke */
    
    #sidebar-right .block { margin-bottom: 20px; color: #404040 !important; }
    #sidebar-right .block h2 { /*font-size: 13px !important;*/ }
        
    #sidebar-right h2, .block .view-header { background: none !important; border: none !important; border-bottom: #ccc 1px solid !important; }
    #sidebar-right h2, .block .view-header, #sidebar-right h2 a, .block .view-header a, #sidebar-right .block h2 a { color: #404040 !important; font-size: 14px !important; padding: 0 0 3px 0 !important; }
    
    #sidebar-right h3 { font-size: 13px; }
    
    .block-projecttabs, .block-focus_groups { background: none !important; border: none !important; }
    
    #block-projecttabs-2 li { width: 70px !important; overflow: hidden; }


/* Nodes */

    .node { margin-bottom: 40px !important; }
    .node .content { padding: 0 0 10px 0 !important; }
    .node-more-link { margin-bottom: 10px; }
    .addthis_button_div { margin: 0 !important; }
    .node .links { margin: -20px 0 10px 0; border: none !important; font-size: 10px; width: 430px; float: left; }

/* Kommentare */

    #comments { background: #F9F9F9; padding: 5px; margin: 0; }
    #comments .box { padding: 0; margin: 0; }
    #comments h2 { margin-top: 0; } 
    .preview { border-color: #404040; color: #404040; }

/* Tabs */
    
    /* div */
    #main-squeeze .tabs { border-bottom: #bbbbbb 1px solid; height: 31px; margin: 20px 0; top: auto; }
    
    /* ul */    
    #main-squeeze .tabs.primary { margin: 0; padding: 0; border-left: #bbbbbb 1px solid !important;  }
    
    /* li */
    ul.tabs.primary li { 
        font-weight: bold !important; 
        float: left; 
        padding: 0 10px !important; 
        height: 30px; 
        line-height: 30px; 
        margin: 0 !important; 
        border: #bbbbbb 1px solid !important; border-left: none !important; /*border-bottom: none !important; */
        height: 30px !important; 
        background: url(http://www.byte-box.com/projekte/balanceonline/bytebox/img/update/bg/tabverlauf.jpg) repeat-x; 
    }
    ul.tabs.primary li:hover { background: #fff !important; }
    
    /* a */
    ul.tabs.primary li a { 
        border: none !important; 
        font-weight: bold !important; 
        background: none !important; 
        padding: 0 !important; 
        margin: 0 !important; 
        height: 29px !important; 
        color: #404040 !important; 
        overflow: hidden;
        display: block !important;
    }
    #main-squeeze ul.tabs.primary li a:hover { background: none !important; }
    ul.tabs.primary li.active a { border: none !important; }
    
    /* active */
    
    ul.tabs.primary li.active { background: #fff !important; }
    ul.tabs.primary li.active a { border: none !important; padding: 0 !important; margin: 0 !important; }
    ul.tabs.primary li.active a:hover { color: #404040 !important;  }
    
    /* Tabs HG für Fokusseiten */
    .fg1 ul.tabs.primary li.active, .fg1 ul.tabs.primary li.active:hover, .fg1 #main-squeeze ul.tabs.primary li.active a  { background: #E32D6E !important; color: #fff !important; }
    .fg2 ul.tabs.primary li.active, .fg2 ul.tabs.primary li.active:hover, .fg2 #main-squeeze ul.tabs.primary li.active a { background: #BF0C27 !important; color: #fff !important; }
    .fg3 ul.tabs.primary li.active, .fg3 ul.tabs.primary li.active:hover, .fg3 #main-squeeze ul.tabs.primary li.active a { background: #FCC000 !important; color: #404040 !important; }
    .fg4 ul.tabs.primary li.active, .fg4 ul.tabs.primary li.active:hover, .fg4 #main-squeeze ul.tabs.primary li.active a { background: #B1C800 !important; color: #404040 !important; }
    .fg5 ul.tabs.primary li.active, .fg5 ul.tabs.primary li.active:hover, .fg5 #main-squeeze ul.tabs.primary li.active a { background: #578830 !important; color: #fff !important; }
    .fg6 ul.tabs.primary li.active, .fg6 ul.tabs.primary li.active:hover, .fg6 #main-squeeze ul.tabs.primary li.active a { background: #00A8DB !important; color: #404040 !important; }
    .fg7 ul.tabs.primary li.active, .fg7 ul.tabs.primary li.active:hover, .fg7 #main-squeeze ul.tabs.primary li.active a { background: #0E72B5 !important; color: #fff !important; }
    .fg8 ul.tabs.primary li.active, .fg8 ul.tabs.primary li.active:hover, .fg8 #main-squeeze ul.tabs.primary li.active a { background: #921F75 !important; color: #fff !important; }


/* Vertical Tabs */
    
    .vertical-tabs { display: block; float: none !important; }
    .vertical-tabs ul.vertical-tabs-list { float: none !important; position: relative !important; margin: 10px 0 0 190px !important; left: inherit !important; top: inherit !important; width: 500px !important; }
    #content .vertical-tabs li { list-style-image: none !important; border: none !important; height: auto !important; }
    #content .vertical-tabs li.selected { background: #404040; }
    #content .vertical-tabs li a { color: #404040; display: block; width: 100%; height: 100%; }
    #content .vertical-tabs-panes { margin-top: 20px !important; }
    #content .vertical-tabs li.selected strong, #content .vertical-tabs li.selected small { color: #fff !important; }


/* Gefällt mir */
body.node-type-balancewiki div.links.wiki { top: inherit !important; }

.node .links { float: none !important; }
.node .links li { float: none !important; }

/* Suche */
.search-results dt a { color: #404040; font-size: 1.2em; }  
.search-results dt a:hover { color: #243D80; }


/* Views */
.views-view-grid { margin-bottom: 30px; }
.views-exposed-widget div  { padding: 0 0 2px 0; }
.views-exposed-form .views-exposed-widget { clear: left; padding-top: 0; }
.field-label { text-indent: 0 !important; }

/* Fields */
.field { padding: 0 0 30px 0; }

/* Messages */
.messages { margin: 20px 0; }

/* Tabellen */
thead th { background: #e5e5e5; border-bottom: #404040 1px solid; }
tbody tr th, tbody tr td { padding: 4px 8px !important;  }
tbody td { border: none; }
tr.even, tr.odd { background: #F9F9F9; }

/* Announcement */
#announcement .block { background-color: #F9F9F9; border-color: #404040; }

/* Forms */
input, select { padding: 2px; border: none !important; }
input[type=text],input[type=password], select { border: #404040 1px solid !important;  }
.view-frontpage-hack .view-filters input { width: 129px; }
legend { font-size: 14px; font-weight: bold; }
label.over-apply { position: relative !important; padding: 5px 0 4px 0; color: #404040; }


/* Headerimage */
.block-headerimage { display: none; }


/* Footer */
#footer { margin-bottom: 0 !important; }


/* Content */
#content { border: none !important; padding: 15px 0 !important; }

/* Vermischtes */
#main-squeeze p.long { color: #404040; width: auto; top: auto; }
#views_slideshow_singleframe_main_1 { margin-bottom: 20px; }
#block-block-11 { margin-left: 35px; }
#block-user-0 { top: inherit; margin: 20px 0; }
.view-frontpage-hack .view-filters { top: inherit; margin: 20px 0; }
#sidebar-right .logo-title { margin-bottom: 20px; }
#authors.block { margin-top: 0; }
#authors .picture { margin-bottom: 20px; }
.feed-icon { float: right; }
#balance-node-edit, #balance-user-edit { right: inherit !important; float: none !important; padding: 2px 4px; }
/*
#sidebar-right li, #content li { list-style-image: url(http://www.byte-box.com/projekte/balanceonline/bytebox/img/update/bg/list-icon.jpg) !important; list-style-type: none !important; }
#block-projecttabs-2 ul, #block-projecttabs-2 ul li, #block-focus_groups-0 ul li, ul.no-bullets li { list-style-image: none !important; }
*/
.comment { padding: 10px; }
.field-field-smallteaser { padding: 0 20px 5px 0 !important; }

/* Card */
.card { background: none !important; border: none !important; }

/* Footer */
#block-block-6 { background: #e5e5e5; padding-top: 10px; }
#block-menu-secondary-links { background: #ee6622; }
#block-menu-secondary-links li { border: none !important; padding-left: 0 !important; }
#block-menu-secondary-links a { color: #404040 !important; }
#block-footer_sitemap-0 { background: #404040; padding: 10px 0; height: 200px; }
#block-footer_sitemap-0 li { width: 150px; }